{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row top-menu">
	<div class="col-md-10"></div>
	<div class="col-md-2 text-right">
	</div>
</div>
<div class="row divider blue">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Sports App</h1>
	</div>
</div>

<div class='flash'>
	{% with messages = get_flashed_messages() %} {% if messages %}

	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %} {% endwith %}

</div>


<div class="row">
	<div class="col-md-6">
		<div class="row">
			<h2>Sports</h2>
		</div>
		{% for sport in sports %}
		<div class="row">
			<h3><a href="{{url_for('showItemsInSport', sport_name=sport.name)}}">{{sport.name}}</h3>
		</div>
		{% endfor %}
	</div>

	<div class="col-md-6">
		<div class="row">
			<h2>Latest Sports Items</h2>
		</div>
		{% for item in items| sort(attribute='id', reverse = True) %}
		<div class="row">
			<h3><a href="{{url_for('showSportItem', sport_item=item.name, sport_name=item.sport.name)}}">{{item.name}}({{item.sport.name}})</h3>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
